:host * {
  line-height: 1.6;
}
h1 {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading-big);
}
h2 {
  font-size: var(--font-size-big);
  color: var(--color-grey);
  line-height: 1.8;
  margin: 15px 0 25px;
}
img.cover {
  height: 65vh;
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}